<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Result</title>
    <style>
        /* styles.css */

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .result-card {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
        }

        .result-card h1 {
            margin: 0;
            font-size: 24px;
            color: #f44336;
        }

        .result-card p {
            font-size: 16px;
            color: #333;
        }

        .result-card a {
            background-color: #f44336;
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
        }

        .result-card button:hover {
            background-color: #f44336;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="result-card">
            <h1 id="result-title">Thanh toán thất bại</h1>
            <p id="result-message">Quá trình thanh toán của bạn đã bị hủy !</p>
            <a href="http://localhost:3001/">Trang chủ</a>
        </div>
    </div>
    </script>
</body>

</html>